
@{
    //ViewData["Title"] = "Registeration";

    Layout = "_NavAndFooter";
}

<div class="row my-3 ">

    <div class="card-group p-5  ">


        <div class="card h-75 w-25  mx-3">
            <img src="/images/sssuppplier.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Supplier</h5>

            </div>
            <br />
            <div class="card-footer text-center">
                <a type="button" class="btn btn-dark" href="/Account/SupplierRegistration">Register</a>
            </div>
        </div>
      
        <div class="card h-75 w-25 mx-3 ">
            <img src="/images/4143150.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Customer</h5>

            </div>
            <br />
            <div class="card-footer text-center">
                <a type="button" class="btn btn-dark" href="/Account/CustomerRegistration">Register</a>
            </div>
        </div>

        <div class="card h-75 w-25 ">

            <img src="/images/3043299.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">shipper</h5>

            </div>
            <br />
            <div class="card-footer text-center">
                <a class="btn btn-dark" href="/Account/ShipperRegistration">Register</a>
            </div>
        </div>

    </div>
</div>